<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>announcementPage</title>

    <style>
        .logo_text {
            position: relative;
            left: 90px;
            margin-right: 90%;
            padding: 50px 20px;
            text-align: center;
            background-color: #5B5150;
            color:antiquewhite;
            size: 100px;
            font-weight: 600;
        }
    </style>

</head>
<body>
    <a href="/first" class="logo_text" style="text-decoration: none;">UIT-LAB</a>
</body>
</html>