<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <style>
        .logo_text {
            position: relative;
            left: 90px;
            margin-right: 90%;
            padding: 50px 20px;
            text-align: center;
            background-color: #5B5150;
            color:antiquewhite;
            size: 100px;
            font-weight: 600;
        }

        .login_frame {
            width: 300px;
            border-radius: 5px;
            background-color: #EEEFF1;
            margin-right: auto;
            margin-left: auto;
            margin-top: 50px;
            padding: 20px;
            text-align: center;
            border: none;
        }

        .text-field {
            font-size: 14px;
            padding: 10px;
            border: none;
            width: 260px;
            margin-bottom: 10px;
 
        }

        .login_btn{
            padding: 10px;
        }

        

    </style>
</head>
<body>
    <a href="/first" class="logo_text" style="text-decoration: none;">UIT-LAB</a>
    <div class="login_frame">
        <form>
            <input type="text" class="text_field" placeholder="아이디" name="username">
            <input type="password" class="text_field" placeholder="비밀번호" name="password">
            <input type="submit" value="로그인" class="login_btn" name="login_btn">

        </form>
    </div>
    
</body>
</html>