<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Page</title>

    <style>
        .system{
            position: absolute;
        }
    </style>

</head>
<body>
    <a href="/first">First Page</a>

    <div class="system">
        <ul>
         <li>UIT-LAB</li>
         <ul>
           <li>APP</li>
               <ul>
                  <li>고준혁</li>
               </ul>
           <li>WEB</li>
               <ul>
                  <li>백찬영</li>
                  <li>홍우성</li>
               </ul>
           <li>SERVER</li>
               <ul>
                  <li>이지원</li>
                  <li>오동협</li>
            </ul>
    </div>
</body>
</html>